body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
.flex-container   
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(236, 203, 238);
    height: 200px;
    align-items: center;
}
  
 .flex-item
{
    background-color: rgb(247, 224, 252);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 245);
    font-size: 1.5em;
}
  
@media (max-width: 500px) 
{
    .flex-container 
    {
      flex-direction: column;
      height: auto;
    }
}
  