body 
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: white;
    color: #333;
}

.key-info 
{
    display: flex;
    padding: 45px;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

.left-content 
{
    width: 25%;
    padding-right: 20px;
}

.left-content h3 
{
    color: #7b0016;
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: normal;
}

.left-box 
{
    background-color: #dcd8d8;
    font-size: 14px;
    color: #383737;
}

.mnm-button 
{
    background-color: #6f0317;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

.right-content 
{
    width: 65%;
}

.right-content h2 
{
    font-size: 28px;
    color: #94012f;
    font-weight: 300;
    margin-bottom: 15px;
}

.right-content p 
{
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 15px; 
}

.attention-grabber
{
    margin-bottom: 20px;
}

.attention-grabber img 
{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 30%;
    float: right; 
}

.attention-grabber p 
{
    margin: 0;
    flex: 1;
    padding-right: 20px; 
    text-align: justify; 
}

.general-dept
{
    color: #94012f; 
    text-decoration: underline; 
    font-weight: bold;
}